<!DOCTYPE html>
<html lang="nn">
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta charset="utf-8" />
        <link rel="icon" sizes="240x240" href="favicon.png" />
        <link rel="apple-touch-icon" href="favicon.png" />
        <meta
            property="og:description"
            content="TurnusLint er eit program som hjelper tillitsvalde med å sjekke turnusplanar laga i GAT."
        />
        <meta
            name="description"
            content="TurnusLint er eit program som hjelper tillitsvalde med å sjekke turnusplanar laga i GAT."
        />
        <title>TurnusLint</title>
    </head>
    <body>
        <div class="ieOnly">
            <div class="alert alert-danger" role="alert">
                <div>
                    <h5>Utdatert nettlesar</h5>
                    Internet Explorer støtter ikkje funksjonaliteten som TurnusLint
                    trenger. Difor kan du ikkje opne TurnusLint i Internet
                    Explorer.  Prøv ein moderne nettlesar, t.d. Mozilla Firefox,
                    Google Chrome eller Microsoft Edge.
                </div>
            </div>
        </div>
        <div id="root"></div>
        <% if(TURNUSLINT_INCLUDE_GOATCOUNTER) {%>
        <script
            data-goatcounter="https://turnuslint.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"
        ></script>
        <%} %>
    </body>
</html>
