/*
 * Part of TurnusLint - a tool to analyze work schedules
 *
 * Copyright (C) Eskild Hustvedt 2019-2020
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
// Import bootstrap
@import "~bootstrap/scss/bootstrap.scss";

$almostInvisibleColor: #acabae;

.primaryContainer {
    margin-top: 1em;
}
.personEntry {
    margin-bottom: 1em;
}
.git-revision {
    font-size: 50%;
}
.showMore {
    font-size: 50%;
    vertical-align: top;
    text-decoration: underline;
    cursor: pointer;
}
.hand-cursor {
    cursor: pointer;
}
.typeHeader {
    margin-top: 5px;
    font-weight: bold;
    &.collapsedTypeHeader,
    &.collapsableTypeHeader {
        cursor: pointer;
        &:hover {
            background-color: $table-hover-bg;
            .arrow-faded {
                color: black;
            }
        }
    }
    &.collapsedTypeHeader {
        color: $text-muted;
        font-weight: normal;
    }
}
.personHeader {
    cursor: pointer;
    &:hover {
        color: black;
        .on-person-hover {
            visibility: visible;
        }
    }
    .on-person-hover {
        visibility: hidden;
    }
    .hiddenPerson {
        color: $text-muted;
    }
}
#fileSelector {
    display: none;
}
.infoSection {
    margin-bottom: 0.5em;
    // Undo the margins if we have a "show more" link adjacent to the .infoSection
    & + .showMoreWrapper {
        margin-top: -0.5em;
    }
}
.IntroErrorSection {
    .header {
        font-weight: bold;
    }
    margin-bottom: 1em;
}
table.no-padding td {
    padding: 0px;
}
table.turnuslint-table thead {
    top: 55px;
    z-index: 1;
    position: sticky;
    background: white;
    user-select: none;
}
table .summary-title {
    @media (min-width: map-get($grid-breakpoints,"lg")) {
        width: 20em;
    }
}
table.table.compressed {
    width: auto;
    td.value {
        padding-left: 1em;
        padding-right: 2em;
    }
}
.force-default-cursor,
.no-select {
    cursor: default;
}
.no-select,
label {
    user-select: none;
}
.container {
    max-width: 1140px;
}
.container.max-width-2000 {
    max-width: 2000px;
}
.container.max-width-3000 {
    max-width: 3000px;
}
.container.report-view {
    padding: 0px;
}
.logContent {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 1em;
}
.modal-dialog {
    min-width: 800px;
}
.shiftNoticeRow {
    .actionButton {
        visibility: hidden;
    }
    &:hover {
        background-color: $table-hover-bg;
        .actionButton {
            color: grey;
            visibility: visible;
            cursor: pointer;
            user-select: none;
            padding-left: 4px;
            padding-right: 4px;
            padding-bottom: 2px;
            &:hover {
                color: white;
            }
            &.hide:hover,
            &.unimportant:hover {
                background-color: map-get($theme-colors, "secondary");
            }
            &.important:hover {
                background-color: map-get($theme-colors, "success");
            }
        }
    }
}
body.body-loading {
    cursor: wait;
}
// Styling of the clear button for our search box
.form-control-clear {
    pointer-events: auto;
    cursor: pointer;
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    right: 6px;
    color: $text-muted;
    z-index: 10;
    &:hover {
        color: $body-color;
    }
}
// Makes something that's not a link act like one
.likeLink {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $link-hover-color;
    }
    color: $link-color;
}
/*
 * Animated arrows and show-more text
 */
.float-right {
    float: right;
}
.arrow-closed,
.arrow-open {
    &.arrow-faded {
        color: $almostInvisibleColor;
    }
    &.arrow-solid {
        color: black;
    }
    &.arrow-small {
        font-size: 0.9rem;
    }
}
.show-more-hover {
    color: $text-muted;
    padding-right: 1em;
}
tr .show-more-hover {
    visibility: hidden;
}
tr:hover {
    .arrow-closed,
    .arrow-open {
        color: black;
    }
    .show-more-hover {
        visibility: visible;
    }
}
.arrow-closed {
    transform: rotate(0deg);
    transition: transform 0.25s linear;
}
.arrow-open {
    transform: rotate(180deg);
    transition: transform 0.25s linear;
}

// A hack that allows us to absolutely position stuff in a table cell
.tableColumnPositioningHack {
    display: flex;
    height: 3rem;
    align-items: flex-end;
    position: relative;
    .hideColumnButton {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        visibility: hidden;
        > svg {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    .textContent {
        max-width: 87%;
    }
    &:hover .hideColumnButton {
        color: $almostInvisibleColor;
        visibility: visible;
        &:hover {
            > svg {
                background-color: white;
            }
            color: black;
        }
    }
}
// Huge screen styles
@media (min-width: 1400px) {
    .d-xxl-table-cell {
        display: table-cell !important;
    }
    .d-xxl-inline {
        display: inline !important;
    }
    .d-xxl-none {
        display: none !important;
    }
}

.text-veryfaded {
    color: #d4d4d5;
}

.help-window {
    .likeLink {
        text-align: center;
    }
}

// Needed for .body-loading to work
html,
body {
    height: 100%;
}

// IE hacks
.ieOnly {
    display: none;
}
// This media query will only match on IE9-11
@media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
    .ieOnly {
        display: block;
        .alert > div {
            margin-left: auto;
            margin-right: auto;
            max-width: 40em;
            h5 {
                font-weight: bold;
            }
        }
    }
}

// Phone styles
@media (max-width: map-get($grid-breakpoints,"md")) {
    a.navbar-brand {
        width: 100%;
    }
    .container.primaryContainer {
        padding-left: 2em;
        padding-right: 2em;
    }
}

/*
 * This removes the IE- (but not Edge) and webkit-specific "clear field"
 * styling on search fields.  It's nonstandard and conflicts with our own
 * styling of the search field.
 */
input[type="search"]::-ms-clear {
    display: none;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
